@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root {
  --padding-container: 100px 0;
  --color-title: #001A49;
}


body {
  font-family: 'Poppins', sans-serif;
}

.container {
  width: 90%;
  max-width: 1200;
  margin: 0 auto;
  overflow: hidden;
  padding: 100px 0;
}

.hero {
  width: 100%;
  height: 100vh;
  min-height: 600px;
  max-height: 800px;
  position: relative;
  display: grid;
  grid-template-rows: 100px 1fr;
  color: #fff;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url('/images/fondo1.jpg');
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 0 80%);
  z-index: -1;
}

/* Nav */

.nav {
  --padding-container: 0;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav_links {
  color: #fff;
  text-decoration: none;
  margin-top: 10px;
}

.nav_link {
  margin-left: auto;
  padding: 0;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  gap: 3em;
  margin-top: auto;
}

.nav_logo {
  margin-top: auto;
  padding: 0;
}

.nav_img {
  display: block;
  width: 30px;
}

.nav_menu {
  margin-left: auto;
  cursor: pointer;
  display: none;
}

nav_title {
  font-weight: 300;
}

.nav__items {
  list-style: none;
}

/* Hero Container */

.hero_container {
  max-width: 800px;
  --padding-container: 0;
  display: grid;
  grid-auto-rows: max-content;
  align-content: center;
  gap: 1em;
  padding-bottom: 100px;
  text-align: center;
}

.hero_title {
  font-size: 3rem;
}

.hero_paragraph {
  margin-bottom: 20px;
}

.cta {
  display: inline-block;
  background-color: bisque;
  justify-self: center;
  color: #fff;
  text-decoration: none;
  padding: 10px 30px;
  border-radius: 30px;
}

/* Productos*/

.productos {
  position: relative;
  overflow: hidden;
  padding: 20px;
}

.productos_encabezado {
  padding: 0 10vw;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 40px;
  text-transform: capitalize;
}

.productos_container {
  padding: 0 10vw;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.productos_container::-webkit-scrollbar {
  display: none;
}

.productos_tarjeta {
  flex: 0 0 auto;
  width: 250px;
  height: 450px;
  margin-right: 40px;
}

.productos_imagen {
  position: relative;
  width: 100%;
  height: 350px;
  overflow: hidden;
}

.productos_cuerpo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.descuento {
  position: absolute;
  background: #fff;
  padding: 5px;
  border-radius: 5px;
  color: #ff7d7d;
  right: 10px;
  top: 10px;
  text-transform: capitalize;
}

.tarjeta_btn {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  width: 90%;
  text-transform: capitalize;
  border: none;
  outline: none;
  background: #fff;
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
  opacity: 0;
}

.productos_tarjeta:hover .tarjeta_btn {
  opacity: 1;
}

.tarjeta_btn:hover {
  background: #ff7d7d;
  color: #fff;
}

.productos_info {
  width: 100%;
  height: 100px;
  padding-top: 10px;
}

.productos_descripcion {
  text-transform: uppercase;
}

.productos_sub_descripcion {
  width: 100%;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  opacity: 0.5;
  text-transform: capitalize;
  margin: 5px 0;
}

.precio {
  font-weight: 900;
  font-size: 20px;
}

.precio_actual {
  margin-left: 20px;
  opacity: 0.5;
  text-decoration: line-through;
}

.pre-btn,
.nxt-btn {
  border: none;
  width: 10vw;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
  cursor: pointer;
  z-index: 8;
}

.pre-btn {
  left: 0;
  transform: rotate(180deg);
}

.nxt-btn {
  right: 0;
}

.pre-btn img,
.nxt-btn img {
  opacity: 0.2;
}

.pre-btn:hover img,
.nxt-btn:hover img {
  opacity: 1;
}

/* Ofertas */

.ofertas {
  margin-top: -150px;
  text-align: center;
  background-color: #ffffff;
  background-image: linear-gradient(to right, rgba(248, 205, 237, 0.8) , rgba(248, 205, 237, 0.8) 7px, #ffffff 7px, #ffffff );
  background-size: 14px 100%;
  clip-path: polygon(50% 19%, 100% 2%, 100% 100%, 0 100%, 0 2%);
}

.ofertas_subtitulo {
  color: #001A49;
  font-size: 2rem;
  margin-bottom: 25px;
}

.ofertas_tabla {
  padding-top: 60px;
  display: flex;
  flex-wrap: wrap;
  gap: 2.5em;
  justify-content: space-evenly;
  align-items: center;
}

.ofertas_elemento {
  background-color: #e5e5f7;
  text-align: center;
  border-radius: 10px;
  width: 330px;
  padding: 40px;
}

.ofertas_elemento_centro {
  width: 370px;
  padding: 60px 40px;
  background-color: #ff0000;
}


.ofertas_nombre {
  font-size: 2.5rem;
  color: rgb(0, 0, 0);
  margin-bottom: 15px;
  font-weight: 500;
}

.ofertas_nombre_centro {
  font-size: 2.5rem;
  color: rgb(255, 255, 255);
  margin-bottom: 15px;
  font-weight: 500;
}

.ofertas_precio {
  font-size: 2.5rem;
  color: rgba(0, 64, 182, 0.5);
}

.ofertas_items {
  margin-top: 35px;
  display: grid;
  gap: 1em;
  font-weight: 300;
  font-size: 1.2rem;
  margin-bottom: 50px;
  color: rgba(245, 12, 12, 0.5);
}

.ofertas_link {
  display: block;
  padding: 20px 0;
  border-radius: 10px;
  text-decoration: none;
  background-color: rgba(235, 16, 162, 0.897);
  font-weight: 600;
  color: #001A49;
  box-shadow: 0 0 1px rgba(0, 0, 0, .5);
}

.ofertas_link_centro {
  display: block;
  padding: 20px 0;
  border-radius: 10px;
  text-decoration: none;
  background-color: rgb(179, 255, 0);
  font-weight: 600;
  color: #001A49;
  box-shadow: 0 0 1px rgba(0, 0, 0, .5);
}

.ofertas_texto {
  color: #1D293F;
}

