@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root {
  --padding-container: 100px 0;
  --color-title: #001A49;
}


body {
  font-family: 'Poppins', sans-serif;
}

.container {
  width: 90%;
  max-width: 1200;
  margin: 0 auto;
  overflow: hidden;
  padding: 100px 0;
}

.hero {
  width: 100%;
  height: 100vh;
  min-height: 600px;
  max-height: 800px;
  position: relative;
  display: grid;
  grid-template-rows: 100px 1fr;
  color: #fff;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url('/images/fondo1.jpg');
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 82%, 50% 100%, 0 82%);
  z-index: -1;
}

/* Nav */

.nav {
  --padding-container: 0;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav_links {
  color: #fff;
  text-decoration: none;
  margin-top: 10px;
}

.nav_link {
  margin-left: auto;
  padding: 0;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  gap: 3em;
  margin-top: auto;
}

.nav_logo {
  margin-top: auto;
  padding: 0;
}

.nav_img {
  display: block;
  width: 30px;
}

.nav_menu {
  margin-left: auto;
  cursor: pointer;
  display: none;
}

nav_title {
  font-weight: 300;
}

.nav_items {
  list-style: none;
}

.nav_cierre {
  display: var(--hamburguesa, none);
}

/* Hero Container */

.hero_container {
  max-width: 800px;
  --padding-container: 0;
  display: grid;
  grid-auto-rows: max-content;
  align-content: center;
  gap: 1em;
  padding-bottom: 100px;
  text-align: center;
}

.hero_title {
  font-size: 3rem;
}

.hero_paragraph {
  margin-bottom: 20px;
}

.cta {
  display: inline-block;
  background-color: bisque;
  justify-self: center;
  color: #fff;
  text-decoration: none;
  padding: 10px 30px;
  border-radius: 30px;
}

/* Productos*/

.productos {
  position: relative;
  overflow: hidden;
  padding: 20px;
}

.productos_encabezado {
  padding: 0 10vw;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 40px;
  text-transform: capitalize;
}

.productos_container {
  padding: 0 10vw;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  margin-bottom: 50px;
}

.productos_container::-webkit-scrollbar {
  display: none;
}

.productos_tarjeta {
  flex: 0 0 auto;
  width: 250px;
  height: 450px;
  margin-right: 40px;
}

.productos_imagen {
  position: relative;
  width: 100%;
  height: 350px;
  overflow: hidden;
}

.productos_cuerpo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.descuento {
  position: absolute;
  background: #fff;
  padding: 5px;
  border-radius: 5px;
  color: #ff7d7d;
  right: 10px;
  top: 10px;
  text-transform: capitalize;
}

.tarjeta_btn {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  width: 90%;
  text-transform: capitalize;
  border: none;
  outline: none;
  background: #fff;
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
  opacity: 0;
}

.productos_tarjeta:hover .tarjeta_btn {
  opacity: 1;
}

.tarjeta_btn:hover {
  background: #ff7d7d;
  color: #fff;
}

.productos_info {
  width: 100%;
  height: 100px;
  padding-top: 10px;
}

.productos_descripcion {
  text-transform: uppercase;
}

.productos_sub_descripcion {
  width: 100%;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  opacity: 0.5;
  text-transform: capitalize;
  margin: 5px 0;
}

.precio {
  font-weight: 900;
  font-size: 20px;
}

.precio_actual {
  margin-left: 20px;
  opacity: 0.5;
  text-decoration: line-through;
}

.pre-btn,
.nxt-btn {
  border: none;
  width: 10vw;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
  cursor: pointer;
  z-index: 8;
}

.pre-btn {
  left: 0;
  transform: rotate(180deg);
}

.nxt-btn {
  right: 0;
}

.pre-btn img,
.nxt-btn img {
  opacity: 0.2;
}

.pre-btn:hover img,
.nxt-btn:hover img {
  opacity: 1;
}

/* Ofertas */

.ofertas {
  margin-top: -150px;
  text-align: center;
  background-color: #ffffff;
  background-image: linear-gradient(to right, rgba(248, 205, 237, 0.8) , rgba(248, 205, 237, 0.8) 7px, #ffffff 7px, #ffffff );
  background-size: 14px 100%;
  clip-path: polygon(50% 18%, 100% 0, 100% 100%, 0 100%, 0 0%);
}

.ofertas_container {
  width: 100%;
  max-width: 1200;
  margin: 0 auto;
  overflow: hidden;
  padding: 50px 0;
  margin-top: -90px;
}

.ofertas_subtitulo {
  color: #001A49;
  font-size: 2rem;
  margin-bottom: 25px;
  margin-top: 20px;
}

.ofertas_tabla {
  padding-top: 60px;
  display: flex;
  flex-wrap: wrap;
  gap: 2.5em;
  justify-content: space-evenly;
  align-items: center;
}

.ofertas_elemento {
  background-color: #e5e5f7;
  text-align: center;
  border-radius: 10px;
  width: 330px;
  padding: 40px;
}

.ofertas_elemento_centro {
  width: 370px;
  padding: 60px 40px;
  background-color: #ff0000;
}


.ofertas_nombre {
  font-size: 2.5rem;
  color: rgb(0, 0, 0);
  margin-bottom: 15px;
  font-weight: 500;
}

.ofertas_nombre_centro {
  font-size: 2.5rem;
  color: rgb(255, 255, 255);
  margin-bottom: 15px;
  font-weight: 500;
}

.ofertas_precio {
  font-size: 2.5rem;
  color: rgba(0, 64, 182, 0.5);
}

.ofertas_items {
  margin-top: 35px;
  display: grid;
  gap: 1em;
  font-weight: 300;
  font-size: 1.2rem;
  margin-bottom: 50px;
  color: rgba(245, 12, 12, 0.5);
}

.ofertas_link {
  display: block;
  padding: 20px 0;
  border-radius: 10px;
  text-decoration: none;
  background-color: rgba(235, 16, 162, 0.897);
  font-weight: 600;
  color: #001A49;
  box-shadow: 0 0 1px rgba(0, 0, 0, .5);
}

.ofertas_link_centro {
  display: block;
  padding: 20px 0;
  border-radius: 10px;
  text-decoration: none;
  background-color: rgb(179, 255, 0);
  font-weight: 600;
  color: #001A49;
  box-shadow: 0 0 1px rgba(0, 0, 0, .5);
}

.ofertas_texto {
  color: #1D293F;
}

/* Pie */

.pie {
  background-color: rgba(0, 0, 0, 0.678);
}

.pie_ofertas {
  color: #fff;
}

.pie_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #fff;
  padding-bottom: 60px;
  margin-top: 50px;
}

.nav_pie {
  padding-bottom: 20px;
  display: grid;
  gap: 1em;
  grid-auto-flow: row;
  height: 100%;
}

.nav_link_pie {
  display: flex;
  margin: 0;
  margin-right: 20px;
  flex-wrap: wrap;
}

.pie_entradas {
  margin-top: 10px;
  display: flex;
  overflow: hidden;
}

.pie_entrada {
  background-color: #fff;
  height: 50px;
  display: block;
  padding-left: 10px;
  border-radius: 6px;
  font-size: 1rem;
  outline: none;
  border: none;
  margin-right: 16px;
}

.pie_enviar {
  margin-left: auto;
  display: inline-block;
  height: 50px;
  padding: 0 20px;
  background-color: aqua;
  border: none;
  font-size: 1rem;
  color: #001A49;
  border-radius: 6px;
  cursor: pointer;
}

.pie_derechos {
  --padding-container: 30px 0;
  text-align: center;
  color: #fff;
}

.pie_derechos_reservados {
  font-weight: 300;
}

.pie_iconos {
  margin-bottom: 10px;
}

.pie_img {
  width: 30px;
}

/* Media queries */

@media (max-width:1233px) {
  .nav_menu {
    display: block;
  }

  .nav_img {
    object-position: 50% 50%;
  }

  .hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url('/images/fondo1.jpg');
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    z-index: -1;
  }

  .nav_link_menu {
    position: fixed;
    background-color: #000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    z-index: 100;
    opacity: 0;
    pointer-events: none;
    transition: .5s opacity;
  }

  .nav_link--hamburguesa {
    --hamburguesa: block;
    opacity: 1;
    pointer-events: unset;
  }


  .nav_cierre {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 30px;
    cursor: pointer;
  }

  .hero_title {
    font-size: 2.5rem;
  }
  
  .pie_container {
    flex-wrap: wrap;
  }

  .nav_pie {
    width: 100%;
    justify-items: center;
  }

  .nav_link_pie {
    width: 100%;
    justify-content: space-evenly;
    margin: 0;
  }

  .pie_mail {
    width: 100%;
    justify-content: space-evenly;
  }

  .pie_entrada {
    flex: 1;
  }

  .ofertas {
    margin-top: 50px;
    text-align: center;
    background-color: #ffffff;
    background-image: linear-gradient(to right, rgba(248, 205, 237, 0.8) , rgba(248, 205, 237, 0.8) 7px, #ffffff 7px, #ffffff );
    background-size: 14px 100%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  .ofertas_elemento {
    background-color: #e5e5f7;
    text-align: center;
    border-radius: 10px;
    width: 600px;
    padding: 40px;
  }

  .ofertas_texto {
    font-size: 200%;
  }

  .ofertas_elemento_centro {
    background-color: #16a7e0;
    text-align: center;
    border-radius: 10px;
    width: 600px;
    padding: 40px;
  }

  .ofertas_nombre_centro {
    font-size: 5rem;
    color: rgb(0, 0, 0);
    margin-bottom: 15px;
    font-weight: 600;
  }

  .ofertas_link {
    display: block;
    padding: 20px 0;
    border-radius: 10px;
    text-decoration: none;
    background-color: rgba(235, 16, 162, 0.897);
    font-weight: 600;
    color: #001A49;
    box-shadow: 0 0 1px rgba(0, 0, 0, .5);
    font-size: 150%;
  }

  .ofertas_link_centro {
    display: block;
    padding: 20px 0;
    border-radius: 10px;
    text-decoration: none;
    background-color: rgba(235, 16, 162, 0.897);
    font-weight: 700;
    color: #001A49;
    box-shadow: 0 0 1px rgba(0, 0, 0, .5);
    font-size: 200%;
  }

  .ofertas_tabla {
    padding-top: 30px;
    display: inline-block;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 10px;
  }
}

@media (max-width:700px) {
  .ofertas {
    margin-top: 0px;
    text-align: center;
    background-color: #ffffff;
    background-image: linear-gradient(to right, rgba(248, 205, 237, 0.8) , rgba(248, 205, 237, 0.8) 7px, #ffffff 7px, #ffffff );
    background-size: 14px 100%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  .ofertas_elemento {
    background-color: #e5e5f7;
    text-align: center;
    border-radius: 40px;
    width: 280px;
    padding: 20px;
  }

  .ofertas_texto {
    font-size: 150%;
  }

  .ofertas_elemento_centro {
    background-color: #ff0000;
    text-align: center;
    border-radius: 40px;
    width: 280px;
    padding: 20px;
  }

  .ofertas_nombre_centro {
    font-size: 5rem;
    color: rgb(255, 255, 255);
    margin-bottom: 15px;
    font-weight: 500;
  }

  .ofertas_link {
    display: block;
    padding: 20px 0;
    border-radius: 40px;
    text-decoration: none;
    background-color: rgba(235, 16, 162, 0.897);
    font-weight: 500;
    color: #001A49;
    box-shadow: 0 0 1px rgba(0, 0, 0, .5);
    font-size: 150%;
  }

  .ofertas_link_centro {
    display: block;
    padding: 20px 0;
    border-radius: 40px;
    text-decoration: none;
    background-color: rgb(115, 255, 0);
    font-weight: 600;
    color: #001A49;
    box-shadow: 0 0 1px rgba(0, 0, 0, .5);
    font-size: 150%;
  }

  .ofertas_tabla {
    padding-top: 30px;
    display: inline-block;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 10px;
  }

  .nav_pie {
    padding-bottom: 60px;
  }

  .nav_link_pie {
    justify-content: space-between;
  }

  .pie_entradas {
    flex-wrap: wrap;
  }

  .pie_entrada {
    flex-basis: 100%;
    margin: 0;
    margin-bottom: 16px;
  }

  .pie_enviar {
    margin-right: auto;
    margin-left: auto;
  }
}