@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root {
  --padding-container: 100px 0;
  --color-title: #001A49;
}


body {
  font-family: 'Poppins', sans-serif;
}

.containers {
  width: 90%;
  max-width: 1200;
  margin: 0 auto;
  overflow: hidden;
  padding: 30px 0;
}

header {
	background-color: #ff00ff;
}

/* Nav */

.nav {
  --padding-container: 0;
  height: 100%;
  display: flex;
  align-items: center;
}

.navs {
  --padding-container: 0;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav_links {
  color: rgb(0, 0, 0);
  text-decoration: none;
  margin-top: 10px;
	background-color: #ff00ff;
}

.nav_link {
  margin-left: auto;
  padding: 0;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  gap: 3em;
  margin-top: auto;
	color: rgb(255, 0, 255);
}

.nav_logo {
  margin-top: 13px;
  padding: 0;
}

.nav_img {
  display: block;
  width: 30px;
}

.nav_menu {
  margin-left: auto;
  cursor: pointer;
  display: none;
}

.nav_title {
  font-weight: 300;
}

.nav_items {
  list-style: none;
}

.nav_cierre {
  display: var(--hamburguesa, none);
}

/* Hero Container */

.hero_container {
  max-width: 800px;
  --padding-container: 0;
  display: grid;
  grid-auto-rows: max-content;
  align-content: center;
  gap: 1em;
  padding-bottom: 500px;
  text-align: center;
}

.hero {
  width: 100%;
  height: 75px;
  position: sticky;
  display: grid;
  grid-template-rows: 0px 1fr;
  color: rgb(255, 0, 255);
	margin-top: 0;
	background-color: #ff00ff;
}

.hero_container::before {
  content: "";
  position: absolute;
	margin-top: 0px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url('/iamegs_productos/fondo1.jpg');
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 100%, 0 100%);
  z-index: -1;
	margin-top: -10px;
}

.hero_title {
  font-size: 3rem;
	margin-top: 220px;
	color: #fff;
}

.hero_paragraph {
  margin-bottom: 20px;
	color: #fff;
}

.cta {
  display: inline-block;
  background-color: bisque;
  justify-self: center;
  color: #fff;
  text-decoration: none;
  padding: 10px 30px;
  border-radius: 30px;
}

/* Productos */

.seccion_productos {
	width: 98%;
	height: 600px;
	margin: auto;
	display: flex;
	align-items: center;
	overflow-x: auto;
}

.seccion_productos::-webkit-scrollbar {
	display: none;
}

.product {
	min-width: 24%;
	height: 90%;
	background: whitesmoke;
	margin:  0 20px  0 0;
	border-radius: 20px;
	position: relative;
	left: 0;
	transition: 0.5s;
}

.product2 {
	min-width: 24%;
	height: 90%;
	background: whitesmoke;
	margin:  0 20px  0 0;
	border-radius: 20px;
	position: relative;
	left: 0;
	transition: 0.5s;
}

.product3 {
	min-width: 24%;
	height: 90%;
	background: whitesmoke;
	margin:  0 20px  0 0;
	border-radius: 20px;
	position: relative;
	left: 0;
	transition: 0.5s;
}

picture {
	width: 100%;
	height: 70%;
	padding: 20px;
	/*background: green;*/
	display: flex;
	overflow: hidden;
	margin-bottom: 20px;
}

picture img {
	width: 100%;
}

.detail {
	width: 90%;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 50px;
	font-size: 20px;
	color: #444;
}
.button {
	width: 90%;
	margin: auto;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	height: 50px;
	font-size: 20px;
	color: #444;
}

small {color: #555;}

.seccion_productos a {
	text-decoration: none;
	padding: 6px 14px;
	font-size: 15px;
	margin: 5px 0 0 20px;
	display: inline-block;
	background: rgb(255, 0, 255);
	color: rgb(255, 255, 255);
}

.buttons {
	font-size: 40px;
	margin: 0 5px;
	cursor: pointer;
	color: #555;
	width: 30px;
	height: 30px;
	display: flex;
	line-height: 19px;
	text-align: right;
	border-radius: 3px;
	padding: auto;
  justify-content: space-evenly;
}

.xbuttons {
	font-size: 40px;
	margin: 0 5px;
	cursor: pointer;
	color: #555;
	width: 30px;
	height: 30px;
	display: flex;
	line-height: 19px;
	text-align: right;
	border-radius: 3px;
	padding: auto;
	justify-content: space-evenly;
}

.buttons2 {
	font-size: 40px;
	margin: 0 5px;
	cursor: pointer;
	color: #555;
	width: 30px;
	height: 30px;
	display: flex;
	line-height: 19px;
	text-align: right;
	border-radius: 3px;
	padding: auto;
  justify-content: space-evenly;
}

.buttons3 {
	font-size: 40px;
	margin: 0 5px;
	cursor: pointer;
	color: #555;
	width: 30px;
	height: 30px;
	display: flex;
	line-height: 19px;
	text-align: right;
	border-radius: 3px;
	padding: auto;
  justify-content: space-evenly;
}

.p_button {
	font-size: 40px;
	margin: 0 5px;
	cursor: pointer;
	color: #555;
	width: 30px;
	height: 30px;
	display: flex;
	line-height: 19px;
	text-align: right;
	border-radius: 3px;
	padding: auto;
  justify-content: space-evenly;
}

.buttons:hover {
	background: #222;
  color: white;
}

.buttons2:hover {
	background: #222;
  color: white;
}

.buttons3:hover {
	background: #222;
  color: white;
}

.titulo_botones {
	width: 90%;
	height: 60px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	padding: 20px 10px;
	justify-content: space-between;
	border-bottom: 2px solid #ddd;
}

/* main */

main{
	width: 100%;
	height: 840px;
	/*background: red;*/
	margin: 10px auto;
	position: relative;
	padding: 5px 0;
}

/* pied */

.pie {
  background-color: rgba(0, 0, 0, 0.678);
}

.pie_ofertas {
  color: #fff;
}

.pie_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #fff;
  padding-bottom: 60px;
  margin-top: 50px;
}

.nav_pie {
  padding-bottom: 20px;
  display: grid;
  gap: 1em;
  grid-auto-flow: row;
  height: 100%;
}

.nav_link_pie {
  display: flex;
  margin: 0;
  margin-right: 20px;
  flex-wrap: wrap;
}

.pie_entradas {
  margin-top: 10px;
  display: flex;
  overflow: hidden;
}

.nav_link2 {
	margin-left: auto;
  padding: 0;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  gap: 3em;
  margin-top: auto;
	color: rgb(0, 0, 0);
}

.pie_entrada {
  background-color: #fff;
  height: 50px;
  display: block;
  padding-left: 10px;
  border-radius: 6px;
  font-size: 1rem;
  outline: none;
  border: none;
  margin-right: 16px;
}

.pie_enviar {
  margin-left: auto;
  display: inline-block;
  height: 50px;
  padding: 0 20px;
  background-color: aqua;
  border: none;
  font-size: 1rem;
  color: #001A49;
  border-radius: 6px;
  cursor: pointer;
}

.pie_derechos {
  --padding-container: 30px 0;
  text-align: center;
  color: #fff;
}

.pie_derechos_reservados {
  font-weight: 300;
}

.pie_iconos {
  margin-bottom: 10px;
}

.pie_img {
  width: 30px;
}

.container2 {
  width: 90%;
  max-width: 1200;
  margin: 0 auto;
  overflow: hidden;
  padding: 100px 0;
}

.nav_links2 {
  color: rgb(255, 255, 255);
  text-decoration: none;
  margin-top: 10px;
	background-color: #555;
}

.nav_links_pie {
  color: rgb(255, 255, 255);
  text-decoration: none;
  margin-top: 10px;
}

.nav_items {
  list-style: none;
}

/* media query */

@media (max-width: 1000px) {
	.nav_menu {
		display: block;
	}

	.nav_img {
    object-position: 50% 50%;
  }
}